.instructor {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}





.navbar-nav>a{
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}