

//Colores
$primary_color: #ffffff;
$second_color: #000000;
$third_color: #EDF7F8;
$fourth_color: #8D9597;
$fifth_color: #10628D;
$sixth_color: #f9f9f9;


//Fuentes
$font-stack1: "Patrick Hand SC", cursive;
$font-stack2: Arial, sans-serif;
$font-size-default: 1.5rem;
$font-size-large: 3rem;
$font-weight-bold: 800;

//Efecto
$border_radius: 10px;
$box-shadow-default: 0 2px 8px rgba(0, 0, 0, 0.1);
